@import 'bootstrap/dist/css/bootstrap.min.css';
/* Importar Roboto Regular */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

div.dt-buttons button {
  background-color: #ffffff;
  border-radius: 5px;
  color: black;
}

/* Cambiar el color del texto en el paginador */
.dataTables_filter label {
  color: #ffffff;
}

.col-md-4{
  color: #ffffff;
}

.dataTables_wrapper .dt-button.active {
  background-color: #007bff;
  color: #ffffff; /* Cambiar el color del texto cuando el botón está activo */
}

.dataTables_wrapper .dt-button:hover {
  background-color: #007bff;
  color: #ffffff; /* Cambiar el color del texto al pasar el mouse sobre el botón */
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button:hover {
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
}

.dataTables_info {
  color: #ffffff;
}

header{
background-color: #282828;
}

footer{
 background-color: #161616;
}

body {
  background-color: #282828;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





main{
  min-height: 100vh;
}


.bghead{
  background-color: #282828;
}

.bgmain{
  background-color: #282828;
}

.bgfoot{
  background-color: #161616;
}

